ADMIN_PASS=youngfashion
ADMIN_USER=youngfashion
BASE_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000
AUTH_SECRET=youngfashion
CLOUDINARY_API_KEY=282179394789485
CLOUDINARY_API_SECRET=4QMKdXLZr7azRlshBdh6gdjZWo8
CLOUDINARY_CLOUD_NAME=du7labqyx
MONGODB_URI=mongodb+srv://rangolishoesasamusa_db_user:fakesame1111@rangolishoe.kt19koy.mongodb.net/
